.page-container {
    width: 100vw;
    height: 100vh;
}

.light {
    background-color: var(--light-background-color);
    color: var(--light-text-color);
}

.dark {
    background-color: var(--dark-background-color);
    color: var(--dark-text-color);
}

.top-panel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    padding: 1rem;
    margin-bottom: 2rem;
}

.top-panel.light {
    outline: var(--light-border-color) 1px solid;
}

.top-panel.dark {
    outline: var(--dark-border-color) 1px solid;
}

.settings-panel {
}

select, button {
    padding: 0.3rem 1rem;
}

button {
    margin-right: 0.5rem;
    border-radius: 1rem;
    /*border: none;*/
}

.light-button {
    border: var(--light-border-color) 1px solid;
}

.dark-button {
    border: var(--dark-border-color) 1px solid;
}

.preview-card {
    width: 50%;
    height: 150px;
    border-radius: 1rem;
    margin: 0 auto;

    text-align: center;
    align-content: center;
}

.preview-card.light {
    outline: var(--light-border-color) 1px solid;
}

.preview-card.dark {
    outline: var(--dark-border-color) 1px solid;
}

h2 {
    margin-bottom: 1rem;
}