:root {
    --light-background-color: white;
    --dark-background-color: #3e3e3e;

    --light-text-color: black;
    --dark-text-color: white;

    --light-border-color: darkgrey;
    --dark-border-color: black;
}

* {
    padding: 0;
    margin: 0;

    font-family: sans-serif;
    background-color: inherit;
    color: inherit;
}