:root {
    --light-background-color: white;
    --dark-background-color: darkslategrey;

    --light-text-color: black;
    --dark-text-color: white;

    --light-border-color: darkgrey;
    --dark-border-color: black;
}

* {
    font-family: sans-serif;
    background-color: inherit;
    color: inherit;
}